<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nu</title>
    <link rel="stylesheet" href="css/general_styles.css">
</head>
<body>
    <div class="container-supremeth">
        <h2>Oohoho, sigur ca da, <%= username %>, hai sa sarim peste puzzle-uri.</h2>
        <p>Dar, din pacate(fericire), nu se poate sa faci asta. Este imposibil atunci cand nu este posibil, csf :(</p>
    </div>
</body>
</html>