<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructiuni</title>
    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/instructions.css">
</head>
<body>
    <nav>
        <a href="/" class="btn btn-lightgreen-frame">Home</a>
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-lightgreen-frame btn-logout">Log out</button>
        </form>
    </nav>
    <div class="container-supremeth">
        <div class="list-wrapper">
            <ul>
                <li>
                    Cerceteaza totul. Mai ales atunci cand te-ai blocat. Ok, nu chiar totul, eu nu sunt intr-atata de sadist incat sa bag si in <span class="emphasis">&lt;head&gt;</span> indicii. Dar in <span class="emphasis">&lt;body&gt;</span>, css, spor.
                </li>
                <li>
                    Caesar, Vigenere, Keyboard shift, row-to-col, base 64, ASCII, binary, Morse, Playfair, ADFGX, ADFGVX, Polybius sunt cifrurile care au fost utilizate in aceasta aplicatie. Sau poate nu toate au fost utilizate, nu mai stiu.
                </li>
                <li>
                    Exista aplicatii online care pot sa cripteze/decripteze. Nu trebuie sa faci totul manual. Dar daca vrei sa intelegi mai bine cum functioneaza un oarecare cifru, cine te poate opri?
                </li>
                <li>
                    In inspect mode(<span class="emphasis">ctrl + shift + i</span> sau <span class="emphasis">ctrl + shift + c</span>), poti sa editezi si html, si css. Poti sa dai click pe linkuri care nu se vad pe ecran, poti sa modifici proprietati ale elementelor html direct in html, poti sa intri in css si sa bifezi/debifezi/modifici proprietati. Nu te sfii sa te atingi de tot ce ti se pare interesant.
                </li>
                <li>
                    Despre rute. Poti sa copiezi un path(din <span class="emphasis">href</span>-ul unui <span class="emphasis">&lt;a&gt;</span>) si sa-l bagi in bara de emphasis, direct dupa numele domeniului. Ex: esti pe <span class="emphasis">furcacugps.com/obama</span> si ai gasit un link in cod, care arata asa <span class="emphasis">&lt;a href='/pomicultura'&gt;click aicea&lt;/a&gt;</span>, poti sa scrii in bara de emphasis <span class="gps">furcacugps.com/pomicultura</span>. Va functiona de parca ai dat click pe link.
                </li>
                <li>
                    Progresul se salveaza. Nu te teme sa inchizi totul si sa iei o pauza, nu va trebui sa reiei totul de la inceput.
                </li>
            </ul>
        </div>
    </div>
</body>
</html>