<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructiuni</title>
    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/instructions.css">
</head>
<body>
    <nav>
        <a href="/" class="btn btn-lightgreen-frame">Home</a>
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-lightgreen-frame btn-logout">Log out</button>
        </form>
    </nav>
    <div class="container-supremeth">
        <div class="list-wrapper">
            <ul>
                <li>
                    Cercetează totul. Mai ales atunci când te-ai blocat. Ok, nu chiar totul, eu nu sunt într-atâta de sadist încât să bag și în <span class="emphasis">&lt;head&gt;</span> indicii. Dar în <span class="emphasis">&lt;body&gt;</span>, css, spor.
                </li>
                <li>
                    Caesar, Vigenere, Keyboard shift, row-to-col, base 64, ASCII, binary, Morse, Playfair, ADFGX, ADFGVX, Polybius sunt cifrurile care au fost utilizate în această creație. Sau poate nu toate au fost utilizate, nu mai știu.
                </li>
                <li>
                    Există aplicații online care pot să cripteze/decripteze. Nu trebuie să faci totul manual. Dar dacă vrei să întelegi mai bine cum funcționează un oarecare cifru, cine te poate opri?
                </li>
                <li>
                    În inspect mode(<span class="emphasis">ctrl + shift + i</span> sau <span class="emphasis">ctrl + shift + c</span>), poți să editezi și html, si css. Poși să dai click pe linkuri care nu se văd pe ecran, poți să modifici proprietăți ale elementelor html direct în html, poți să intri în css și să bifezi/debifezi/modifici proprietăți. Nu te sfii să te atingi de tot ce ți se pare interesant/suspicios.
                </li>
                <li>
                    Despre rute. Poți să copiezi un path(din <span class="emphasis">href</span>-ul unui <span class="emphasis">&lt;a&gt;</span>) și să-l bagi în bara de url, direct după numele domeniului. Ex: ești pe <span class="emphasis">furcacugps.com/obama</span> și ai găsit un link în cod, care arată așa <span class="emphasis">&lt;a href='/pomicultura'&gt;click aicea&lt;/a&gt;</span>. Poți să scrii în bara de url <span class="emphasis">furcacugps.com/pomicultura</span>. Va funcționa de parcă ai dat click pe link.
                </li>
                <li>
                    Progresul se salvează. Nu te teme să închizi totul și să iei o pauză, nu va trebui să reiei totul de la început.
                </li>
            </ul>
        </div>
    </div>
</body>
</html>