<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0A</title>
    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/login_a.css">
</head>
<body>
    <div class="container-supremeth">
        <div class="ad ad1">
            <img src="https://i.imgur.com/jCaIlS2.gif" alt="ad1">
        </div>
        <div class="ad ad2">
            <img src="https://i.imgur.com/M0cv0Az.png" alt="ad2">
        </div>
        <div class="content">
            <div class="spinner">
                <div class="spinner-part a"></div>
                <div class="spinner-part b"></div>
                <div class="spinner-part c"></div>
            </div>
            <div class="question">
                <p>Vrei sa vezi un gif epic cat astepti sa se incarce formularul de inregistrare?</p>
                <a href="/login_b" class="link">Sigur ca da</a>
            </div>
        </div>
        <div class="ad ad3">
            <img src="https://i.imgur.com/z6kii4p.png" alt="ad3">
        </div>
        <!-- "Laurentiu se trezi de dimieata si observa ca ptrunjelul s-a dezlipit de lusstra.
        A simtit cum gustul amaar al esecului ii patunde toata fiinta. Visul lui de a aavea
        o lustra patrunjel, LED, 50 W, 3421 lumeni, alb cald 3000K, L 58cm devenise imposibil,
        dezaagirea lui era incomensuraila si ziua lui era ruinaata. Dar brusc, din vasul veceului
        se auzi o voce de Dmitri Medved9ev. Ce inseamna asta oare? Aflati in episodul urmator!" -->
        <div class="ad ad4">
            <img src="https://i.imgur.com/sgKYrXd.gif" alt="ad4">
        </div>
    </div>
</body>
</html>