<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0B</title>
    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/login_b.css">
</head>
<body>
    <div class="container-supremeth">
        <img src="https://i.imgur.com/JLCB2ok.gif" alt="what is your username?" class="what-is-your-username">
        <div class="deception-text">
            <p>AM SCRIS NISTE TEXT AICI CA SA TE DISTRAG DE LA MISIUNEA PE CARE O AI, SI SE PARE CA TI-AM DISTRAS ATENTIA LMAO, CINE AR FI CREZUT CA ESTI ATAT DE USOR DE DEBUSOLAT, DUMNEZEULE CUM POTI SA FII ASA, ESTE ABSOLUT INCREDIBIL. DE ASEMENEA, AR FI BINE SA SCOTOCESTI PESTE TOT, CINE STIE CE GASESTI, POATE LUCRURI UTILE, POATE RASPUNSUL LA SENSUL VIETII, POATE GUNOAIE INUTILE, HMMMMM? HMMMMMMMMMMMM!</p>
        </div>
        <div class="intra-aici-daca-tot-nu-ti-ai-dat-seama-care-e-username-ul">
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p data-username="mihaela - acesta este username-ul, cum sa nu-ti dai seama, doamne, vai de capul tau smh"></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>