<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0B</title>
    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/login_b.css">
</head>
<body>
    <div class="container-supremeth">
        <img src="https://i.imgur.com/JLCB2ok.gif" alt="what is your username?" class="what-is-your-username">
        <div class="deception-text">
            <p>AM SCRIS NIȘTE TEXT AICI CA SĂ TE DISTRAG DE LA MISIUNEA PE CARE O AI, ȘI SE PARE CĂ ȚI-AM DISTRAS ATENȚIA LMAO, CINE AR FI CREZUT CĂ EȘTI ATÂT DE UȘOR DE DEBUSOLAT, DUMNEZEULE CUM POȚI SĂ FII AȘA, ESTE ABSOLUT INCREDIBIL. DE ASEMENEA, AR FI BINE SĂ SCOTOCEȘTI PESTE TOT, CINE ȘTIE CE GĂSEȘTI, POATE LUCRURI UTILE, POATE RĂSPUNSUL LA SENSUL VIEȚII, POATE GUNOAIE INUTILE, HMMMMM? HMMMMMMMMMMMM!</p>
        </div>
        <div class="intra-aici-daca-tot-nu-ti-ai-dat-seama-care-e-username-ul">
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p data-username="mihaela - acesta este username-ul, cum sa nu-ti dai seama, doamne, vai de capul tau smh"></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>