<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6</title>
    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/puzzle_styles.css">
</head>
<body>
    <nav>
        <a href="/" class="btn btn-lightgreen-frame">Home</a>
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-lightgreen-frame btn-logout">Log out</button>
        </form>
    </nav>
    <div class="container-supremeth">
        <div class="question-wrapper" data-uau-niste-informatie=".-.. -- .- --- --..-- / -.. . / ..-. .- .--. - --..-- / ..- .-.. - .. -- . .-.. . / ..... / .-.. .. - . .-. . / .- .-. / ..-. .. / -.. . ... - ..- .-..">
            <h2 class="question">Dp gtbypudu dfud/ mydn[#</h2>
            <div class="form-wrapper">
                <form action="/puzzles/6" method="post">
                    <% if(progress > pageIndex) { %>
                        <input type="text" name="answer" id="answer" disabled>
                        <button type="submit" class="btn btn-lightgreen" disabled>Submit</button>
                    <% } else { %>
                        <input type="text" name="answer" id="answer">
                        <button type="submit" class="btn btn-lightgreen">Submit</button>
                    <% } %>
                </form>
                <div class="form-footer">
                    <p>&gt;&gt;&gt;<%= message || "" %></p>
                    <% if(progress > pageIndex) { %>
                        <a href="/puzzles/7" class="btn btn-lightgreen">Purcede</a>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- <div>
            <div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <p>Mitologia azteca este una foarte interesanta. Triburile care intrau in componenta imperiului aveau fiecare zeii lor preferati, pe care ii venerau mai mult decat pe ceilalti, in total fiind cateva sute de zei in tot imperiul, dar numai 7 dintre ei erau considerati atat de puternici incat erau venerati de absolut tot imperiul.
                    Imbaro - zeul soarelui, aducatorul de lumina si caldura. El aducea ziua pe cer, alungand somnul si intunericul. Ziua de sambata era ziua lui Imbaro, in care tot imperiul il venera pe gloriosul zeu.
                    Ngcuva - zeita intunericului si a frigului, opusa lui Imbaro. Aztecii ii aduceau sacrificii si venerari mai mult din frica, pentru ca in momentul in care incetau, noaptea era sa se astearna peste imperiu pentru totdeauna. Ziua de joi era ziua lui Ngcuva.
                    Lmailu - zeul oceanelor si marilor, tornadelor si tsunamilor. El ii tinea in siguranta pe exploratorii care se aventurau sa descopere tinuturi noi, sau aducea cataclisme peste muritorii care indrazneau sa-l nesocoteasca. Ziua de miercuri era inchinata lui.
                    Ntdinl - zeul lumii de dincolo, cel care numara zilele oamenilor si ii intampina in imparatia dupa trecerea in nefiinta. Cei care il cinsteau in timpul vietii, aveau parte de odihna eterna, iar ceilalti aveau parte de chinuri groaznice vesnice. Ziua de vineri era ziua lui Ntdinl.
                    Iedece - zeita fertilitatii, cea care binecuvanta cuplurile cu copii si pamantul cu roada. Oamenii care ii aduceau cinstea cuvenita, nu cunosteau foame si aveau copii sanatosi. Se zice ca nu era niciun om in imperiu care sa nu o iubeasca pe Iedece. Ziua de marti era ziua ei.
                    Amnevo - zeul vantului si al fulgerului. Aztecii credeau ca anume el aducea tornadele si furtunile cand era furios. Ziua de luni era dedicata lui Amnevo.
                    Manams - zeul pacii. Anume lui ii multumeau aztecii pentru faptul ca pot sa isi vada de viata de zi cu zi, si sa nu stea sub foc si sabie. Duminica era ziua lui Manams.</p>
                </div>
            </div>
        </div> -->
    </div>
</body>
</html>