<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jessica_alba.png</title>
    <link rel="stylesheet" href="css/general_styles.css">
    <style>
        .container-supremeth{
            padding: 10vh 0;
            display: flex;
            justify-content: center;
            align-items: center
        }
        body{
            height: 100vh;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/" class="btn btn-lightgreen-frame">Home</a>
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-lightgreen-frame btn-logout">Log out</button>
        </form>
    </nav>
    <div class="container-supremeth">
        <img src="https://i.imgur.com/g7eUMJh.jpg" alt="ce personaj joaca ea aicea?">
    </div>
</body>
</html>