<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/general_styles.css">
    <link rel="stylesheet" href="css/puzzle_styles.css">
    <link rel="stylesheet" href="css/puzzle8_styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/" class="btn btn-lightgreen-frame">Home</a>
        <form action="/logout" method="get">
            <button type="submit" class="btn btn-lightgreen-frame btn-logout">Log out</button>
        </form>
    </nav>
    <div class="container-supremeth">
        <div class="question-wrapper medium-size">
            <div class="question">
                <% if( !msg ) {%>
                    <p>Bine ai sosit, drumetule!</p>
                    <p>Ai tot ce trebuie ca sa te afli aici?</p>
                <% } else if(!vadaleiString){ %>
                    <p class="msg"><%= msg %></p>
                <% } else { %>
                    <p class="msg"><%= msg %></p>
                    <p class="accent"><%= vadaleiString %></p>
                <% } %>
            </div>
            <div class="form-wrapper">
                <form action="/relatabil" method="post">
                    <input type="text" name="p8pass" id="p8pass">
                    <button type="submit" class="btn btn-lightgreen">Submit</button>
                </form>
            </div>
        </div>
        <!-- <div>
            <p>icsp aaio prar retc iaua munl afcb loia isut ttsr edao ress ated aivo cnau eeda ldez oesi rscn ccha uoii vpdd ieee nrqq tiqq etqq eeqq</p>
        </div> -->
    </div>
</body>
</html>