<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gg</title>
    <link rel="stylesheet" href="css/win.css">
    <script src="script/win.js" defer></script>
</head>
<body>
    <div class="black-screen"></div>
    <div class="text-container">
        <div class="text-main">
            <div class="text-row">Au trecut 84 de ani, dar în cele din urmă drumețul a reușit să ajungă la un popas.</div>
            <div class="text-row">Hodina mult așteptată, în sfârșit a găsit-o.</div>
            <div class="text-row">Acesta este un letopiseț al perseverenței și al încrederii că se poate, dacă vrei suficient de mult.</div>
            <div class="text-row">Îți urez tot curajul și zenul din lume, ca să faci față la tot ce îți aruncă viața.</div>
            <div class="text-row">Sunt sigur că o sa reușești.</div>
            <div class="text-row">♥</div>
        </div>
        <span class="text-small">(Acest almanah de cimilituri trebuia să fie gata încă în iulie, dar <a class="link" href="/">csf</a>, biolaboratoarele din Ucraina îs de vină)<br>(Click pe "csf" ca să te întorci la pagina principală)</span>
    </div>
    <div class="container-supremeth">
        <div class="stripes-layer small">
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c57vi9nv5x2x1ct4v57b8nm78wevtherx545crtvhgxdm</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c57vi9nv5x2x1ct4v57b8n9078bgecfdwhvfxcvthtcfw</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhvevcserfrgcged</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhvegvercwq5v342</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhveczfvey34wcsf</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34chcwrcv4vwcr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078vt4rc4y31cc3</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctvm78inhgbrty4</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5gw32sdgegt5u</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rcqwve234vdftr</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0gvtvt4rcdsfc</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyumgvtevrwdfvtw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7nqwve23csdqsq</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47bjnui56ybdet3</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcfvnyumv546b59n4vsdfv2v556byhrfhb5y4vfdgte</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v5565bvsvcfvnyumv546b59n84vsdfv2v556byhrvh567vfge463</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435nb435ibvcrcvby8n9vfq4rc65lkjn25tvhb5b4456</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb43nb435ibvcrcvbyn8n9vfq4rc65lkjnghny4vdgfv5t</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bvc57vi9nv5x2x1ct4v57b8nm9078wevtherx35vdvdfvy345</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bb4c57vi9nv5x2x1ct4v57b8nm9078bgecfdwrvt34sr2cect</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhvedfvt2crsdxer</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhveghb6iu4yvsf4</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5cdv345cc2swr</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rcsdvfrt24dqx4</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc4dfwxfy345cc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in567421cf43vfrtew</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0rcqw12uim88y</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyumfg3ttvdfwcrf</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdfv2v556b556b8bvsvcfvnyumv546b59n84vsdftgvtcdfvt345</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb6745c2x1ec464cxqcvbn9m09bygvvcrqxrceyb6745fvfwet5ybijh</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcvnyumv546b59n84vsdfv2v556byhrjmopmbcgvwr4</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v556b5bsvcfvnyumv546b59n84vsdfv2v556byhrfcgbnjmoporq</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb45nb435ibvcrcvbyn8n9vfq4rc65lkjnzqwevdfecryg</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45n435nb435ibvcrcvbyn8n9vfq4rc65lkjngfvtvrtvwrec</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c57fvtvrtvwrecwvnv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57fvtvrtvwrecwb8nm9078bbv457vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvtvrtvwrecwfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsfvtvrtvwrecwdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84fvtvrtvwrecwvsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv6fvtvrtvwrecw7n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfxfvtvrtvwrecw21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tfvtvrtvwrecwc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujfvtvrtvwrecwkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmfvtvrtvwrecwoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvrtv47bbv4c57crcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6burtv47bbv4c57n6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vrtv47bbv4c57i9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsrtv47bbv4c57vcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85rtv47bbv4c57c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9rtv47bbv4c57o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdf2v556b556b85bvsvrtv47bbv4c57cfvnyumv546b59n84vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb74rtv47bbv4c575tc2x1ec464cxqcvbn9m09bygvvcrqxrceyb6745</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumrtv47bbv4c57v546b59n84vsdfv2v556b5bvsvfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdf2v556b5bvsvcfvnyumv546b59n84vsdfv2vrtv47bbv4c57556byhr</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbynrtv47bbv4c578n9vfq4rc65lkjnb45n435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65kjnb45nb435nb435ibvcrcvbyn8n9vrtv47bbv4c57fq4rc65lkjn</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9bvsvcfvnyumvnv5x2x1ct4v57b8nm9078b4c57vi9nv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nmbvsvcfvnyumv9078bb4c57vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumbvsvcfvnyumvhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfbvsvcfvnyumvv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbvsvcfvnyumvbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsbvsvcfvnyumvg6bu6e34</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ctbvsvcfvnyumv4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6bvsvcfvnyumv745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfebvsvcfvnyumvuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnbvsvcfvnyumvb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nbvsvcfvnyumvb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etbvsvcfvnyumvvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb4tnbnhjkiutrf5n435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjb45nb435nb435ibvcrtnbnhjkiutrfcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdfv2v56b556b85bvsvcfvnyumv546b59n84vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb745tc2x1ec464cxqcvbn9m09bygvvcrqxrceyb6745</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rtnbnhjkiutrfvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9otnbnhjkiutrf95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv57vi9nv5x2tnbnhjkiutrfx1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v5tnbnhjkiutrf7b8nm9078bv4c57vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v55tnbnhjkiutrf6b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556tnbnhjkiutrfb85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vstnbnhjkiutrfdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertnbnhjkiutrftx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5feuilkhjmnbv</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrfeuilkhjmnbvcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfqn6in85c2rvyb4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xfeuilkhjmnbvcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nvfeuilkhjmnbv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b5feuilkhjmnbv9n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfvfeuilkhjmnbv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgfeuilkhjmnbvvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsfeuilkhjmnbvdfv2v55b556b85bvsvcfvnyumv546b59n84vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb6745tc21ec464cxqcvbn9m09bygvvcrqxrceyfeuilkhjmnbvb6745</div>
            </div>
            
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvscfvnyumv546b59n84vsdfv2v5feuilkhjmnbv56byhr</div>
                <div class="ver-text two">feuilkhjmnbv5bvsvcfvnyumv546b59n84vsdfv2v556bbvsvcfvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb43feuilkhjmnbv5ibvcrcvbyn8n9vfq4rc65lkjnb45nb45nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjn45nb43feuilkhjmnbv5nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x4rc65lkjn45n2x1ct4v57b8nm9078bbv4c579nv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b84rc65lkjn45nnm9078bv4c57vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdf4v57b8nm9078v2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfv4v57b8nm9078nyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbus4rc65lkjn45nfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb577454rc65lkjn45nvfdvsg6bu6e34</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdth4rc65lkjn45nvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxq4rc65lkjn45ncvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuil4rc65lkjn45nkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb4rc65lkjn45n45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcr4rc65lkjn45ncvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv44rc65lkjn45nrc2rv4in5674</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm904rc65lkjn45n787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n4rc65lkjn45n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no44rc65lkjn45n8bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv44rc65lkjn45n7bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvscfvnyumv5jn45n7bbv4c546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v5jn45n7bbv4c556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb4jn45n7bbv4c55nb43nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65ljn45n7bbv4c5kjnb45nb435n435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5xjn45n7bbv4c52x1ct4v57b8nm9078bbv4c57viv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2xjn45n7bbv4c51ct4v57b8nm9078bbv4c7vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v55jn45n7bbv4c56b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v5jn45n7bbv4c556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdv2v556b85bvsgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrev2v556b85bvsvtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfv2v556b85bvseuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjv2v556b85bvsnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb43v2v556b85bvs5ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvybv2v556b85bvs7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57viv2v556b85bvs9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v55v2v556b85bvs6b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnv2v556b85bvsyumv546b59n84vsdfv2v556b5bvsvcvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcv2v556b85bvsvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5b435ibvcrcvbyn8n9vfq4rnymofu4etvtbc65lkjnb45nb435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnnymofu4etvtbb5nb435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2nymofu4etvtbxcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95nymofu4etvtbvywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679bv4c57vi9nv5x2x1ct4v57b8nm90787bbvnymofu4etvtb4dsscgvdthvubd6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvnymofu4etvtbubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4q7b</div>
            </div>
        </div>
        <div class="stripes-layer medium">
            <!-- <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c57vi9nv5x2x1ct4v57b8nm78wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c57vi9nv5x2x1ct4v57b8n9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdfv2v556b556b85bvsvcfvnyumv546b59n4vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec464cxqcvbn9m09ygvvcrqxrceyb6745</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcfvnyumv546b59n4vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v5565bvsvcfvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435nb435ibvcrcvby8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb43nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bvc57vi9nv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bb4c57vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdfv2v556b556b8bvsvcfvnyumv546b59n84vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb6745c2x1ec464cxqcvbn9m09bygvvcrqxrceyb6745</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v556b5bsvcfvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb45nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45n435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c57vnv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv457vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdf2v556b556b85bvsvcfvnyumv546b59n84vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb745tc2x1ec464cxqcvbn9m09bygvvcrqxrceyb6745</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdf2v556b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45n435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65kjnb45nb435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078b4c57vi9nv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bb4c57vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div> -->
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45n435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjb45nb435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdfv2v56b556b85bvsvcfvnyumv546b59n84vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb745tc2x1ec464cxqcvbn9m09bygvvcrqxrceyb6745</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv57vi9nv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bv4c57vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdfv2v55b556b85bvsvcfvnyumv546b59n84vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb6745tc21ec464cxqcvbn9m09bygvvcrqxrceyb6745</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvscfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v556bbvsvcfvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb45nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjn45nb435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c579nv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bv4c57vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvscfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb43nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435n435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c57viv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c7vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvvcfvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v56b5bvsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5b435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb5nb435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679bv4c57vi9nv5x2x1ct4v57b8nm90787bbv4dsscgvdthvubd6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4q7b</div>
            </div>
        </div>
        <div class="stripes-layer big">
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcfvnyumv546b59n4vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v5565bvsvcfvnyumv546b59n84vsdfv2v556byhr</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdfv2v556b556b85bvsvcfvnyumv546b59n4vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec464cxqcvbn9m09ygvvcrqxrceyb6745</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435nb435ibvcrcvby8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb43nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bvc57vi9nv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bb4c57vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div>
                <!-- <div class="ver-text one"></div>
                <div class="ver-text two"></div> -->
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">65lkjnb45nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb435ibvcrcvbyn8n9vfq4rcgc</div>
                <div class="ver-text two">cqrveunymofu4etvtbr679e56v2xcsdfv6bun6in85c2rvyb7no48bv4rc2rv4in5674</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">7bbv4c57vi9nv5x2x1ct4v57b8nm90787bbv4c57vi9nv5x2x1ct4v57b8nm9078vgr0</div>
                <div class="ver-text two">v546b59n84vsdfv2v556b85bvsvcfvnyumv546b59n84vsdfv2v556b85bvsvcfvnyum</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">679e56v2xcsdfv6bun6in85c2rvyb7no48bv4679e56v2xcsdfv6bun6in85c2rvyb7n</div>
                <div class="ver-text two">2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi2cgvdthvubkn9o95vywfx21xrtv47b</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">556b85bvsvcfvnyumv546b59n84vsdfv2v556b556b8bvsvcfvnyumv546b59n84vsdf</div>
                <div class="ver-text two">4cxqcvbn9m09bygvvcrqxrceyb6745c2x1ec464cxqcvbn9m09bygvvcrqxrceyb6745</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45nb45nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
                <div class="ver-text two">5nb435ibvcrcvbyn8n9vfq4rc65lkjnb45n435nb435ibvcrcvbyn8n9vfq4rc65lkjn</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">5bvsvcfvnyumv546b59n84vsdfv2v556b5bvsvcvnyumv546b59n84vsdfv2v556byhr</div>
                <div class="ver-text two">5bvsvcfvnyumv546b59n84vsdfv2v556b5bsvcfvnyumv546b59n84vsdfv2v556byhr</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv4c57vnv5x2x1ct4v57b8nm9078wevtherx</div>
                <div class="ver-text two">bbv4c57vi9nv5x2x1ct4v57b8nm9078bbv457vi9nv5x2x1ct4v57b8nm9078bgecfdw</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">6b59n84vsdfv2v556b85bvsvcfvnyumhve6b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">c1wve43tim885burdgvtbvgbusfcq14v546b59n84vsdfv2v556b85bvsvcfvnyumhve</div>
                <div class="ver-text two">c34v6yb7uvdgfc6tv6ubertx24rv67n8m909846vrfxrevtynb57745vfdvsg6bu6e34</div>
            </div>
            <div class="ver-container empty">
                <!-- <div class="ver-text one">n877yvrc2cgvdthvubkn9o95vywfx21xrtv47bbv4c57vi9nv5x2x1ct4v57b8nm9078</div>
                <div class="ver-text two">mju654cxqcvbn9m09bygvvcrqxrceyb6745tc2x1ec46b8n98c1zec235b8n784cxctv</div> -->
                <div class="ver-text one"></div>
                <div class="ver-text two"></div>
            </div>
            <div class="ver-container">
                <div class="ver-text one">cdwert5y6u7kjhngfeuilkhjmnbvdfertyujkjhmnbnmi87654refvbnmi7867rfcgv5</div>
                <div class="ver-text two">dew5yjtnbnhjkiutrfbgnmoiutyrevfb23465lkjnb45nb435ibvcrcvbyn8n9vfq4rc</div>
            </div>
        </div>
    </div>
</body>
</html>