table{
    background: repeating-linear-gradient(to bottom, hsl(70, 47%, 3%) 0px, hsl(70, 50%, 3%) 4px, hsl(70, 53%, 10%) 4px, hsl(71, 53%, 10%) 8px);
    border-collapse: collapse;
    border: 1px solid #5ca;
}
td{
    padding: 0.5rem;
    border: 1px solid #5ca;
}
.accent{
    background-color: #5ca;
    color:hsl(70, 47%, 3%);
    padding: 5px;
    text-align: center;
}
.msg{
    line-break: loose;
    margin-bottom: 0.7rem;
}
.question-wrapper.medium-size{
    max-width: 30rem;
}